// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
	width: map-get($columns, $numberColumns) - ( ( $columns__margin * ( $numberColumns - 1 ) ) / $numberColumns );
}
$largeur_tablet: 600px;
$largeur_desktop: 800px;

//Média query grand écran
@mixin desktop{
	@media(min-width: $largeur_desktop){
		@content;
	}
}
// Média query petit écran
@mixin tablet{
	@media(max-width: $largeur_desktop) and (min-width: $largeur_tablet){
		@content;
	}
}