// La page d'accueil
body.home{
    width: 100vw;
    height: 100vh;
    background-color: rgb(121, 139, 19);

    #primary{
        margin-left: 0;
        width: 100vw;
    }
}
body.home::after{
    width: 100%;
    height: 200%;
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    clip-path: polygon(100% 90%, 100% 100%, 70% 100%);
    background-color: rgb(30, 101, 167);
    z-index: -3;
    @include desktop{
        clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 65% 49%);
        background-color: rgb(30, 101, 167);
    }
}
// Le tire du site
.site-title{
    font-family: $font__title;
    font-size: clamp(0.9rem, #{"-0.875rem + 6.333vw"}, 2.5rem);
    font-weight: bold;
    color: #003;
    margin-bottom: 0;
    a{
        text-decoration: none;
    }   
    @include desktop{
        font-family: $font__title;
        font-size: clamp(0.9rem, #{"-0.875rem + 6.333vw"}, 2.2rem);
        font-weight: bold;
        color: #003;
        margin-bottom: 0;
            a{
                text-decoration: none;
            }   
    }
    @include tablet{
        font-family: $font__title;
        font-size: clamp(0.9rem, #{"-0.875rem + 6.333vw"}, 2rem);
        font-weight: bold;
        color: #003;
        margin-bottom: 0;
            a{
                text-decoration: none;
            }   
    }
}
//La description du site
.site-description{
    font-family: $font__title;
    font-size: clamp(0.8rem, #{"-0.875rem + 8.333vw"}, 1.5rem);
    font-weight: normal;
    color: #003;
    margin-top: 0;
}
//Le header
.home .entry-header{
    font-size: clamp(0.8rem, #{"-0.875rem + 8.333vw"}, 3rem);
    margin-left: 80px;
    margin-top: 150px;
}
//Le menu toggle
.menu-toggle:active{
    .home .entry-header{
        margin-top: 100px;
    }
}
// Les ul de la navigation principale et les ul de la navigation principale toggle
.main-navigation.toggled ul,
.main-navigation ul {
@include tablet{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height : 2.5rem;
    width : 100%;
}
@include desktop{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height : 2.5rem;
    width : 100%;
}

}
//La classe accueil
.accueil{
    display: flex;
    align-items: center;
    font-size: clamp(0.8rem, #{"-0.875rem + 8.333vw"}, 2rem);
    @include tablet{
        font-size: clamp(0.8rem, #{"-0.875rem + 8.333vw"}, 1.3rem);
    }
    @include desktop{
        display: flex;
        flex-wrap: nowrap;
        font-size: clamp(0.8rem, #{"-0.875rem + 8.333vw"}, 1.3rem);
    }
    ul{
        list-style-type: none;
    }
    img{
        display: block;
        border-radius: 50%;
    }
}
//La liste des cours
.list-cours{
    h2{
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
        font-weight: bold;
    }
    //La classe Image 2d/3d
    .bloc:nth-of-type(8){
        article{  
        background-color: #e1f8dc;
        a:link, a:hover, a:active, a:visited{
        color: #3BFA35;
        text-align: center;
        }
    } 
    }
    section.bloc{ 
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        article{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            width: 90%;
            height: 200px;
            margin: 3%;
            @include tablet{
                width: 45%;
                margin: 1.6%;
            }
            @include desktop{
                width: 30%;
                margin: 1.5%;
            }
            border: 1px solid #aaa;
            p{
                font-size: .7rem;
                font-weight: bold;
            }
            a{
                font-size: 1.5rem;
                font-weight: bold;
                text-decoration: none;
            }
        }// fin article
    }//fin section 
}
section.bloc article.Image{ 
        background-color: #e1f8dc;
        a:link, a:hover, a:active, a:visited{
        color: #3BFA35;
        text-align: center;
        }
}
// Boutons radio
.radio{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #FF8D18;
    width: 100vw;
    height: 25px;
    padding: 15px;
    li{
        padding-left: 5px;
        padding-right: 5px;
        list-style: none;
        background-color: #319DE0;
        border-radius: 50%;
    }
}

//La classe Web
.Web{
    background-color: #ffdfbf;
    justify-content: center;
    a:link, a:hover, a:active, a:visited{
        color: #DB5F5F;
        text-align: center;
    } 

}
//La classe Spécifique
.Spécifique{
    background-color: #d1edf2;
    display: flex;
    align-items: center;
    justify-content: center;
    a:link, a:hover, a:active, a:visited{
        color: #3A9AE8;
        text-align: center;
    } 
}
//La classe Jeu
.Jeu{
    background-color: #fadadd;
    a:link, a:hover, a:active, a:visited{
        color: #EBA852;
        text-align: center;
    } 
}
//La classe Conception
.Conception{
    background-color: #dda46d;
    a:link, a:hover, a:active, a:visited{
        color: #EB514A;
        text-align: center;
    } 
}
@include tablet{ 
    #menu-item-276 .sub-menu{
        height: 205px;
    }
    #menu-item-277 .sub-menu{
        height: 190px;
    }
    #menu-item-278 .sub-menu{
        height: 240px;
    }
    #menu-item-279 .sub-menu{
        height: 190px;
    }
    #menu-item-280 .sub-menu{
        height: 300px;
    }
    #menu-item-281 .sub-menu{
        height: 360px;
    }
    #menu-item-231 .sub-menu{
        height: 80px;
    }
}
@include desktop{ 
    #menu-item-276 .sub-menu{
        height: 205px;
    }
    #menu-item-277 .sub-menu{
        height: 190px;
    }
    #menu-item-278 .sub-menu{
        height: 240px;
    }
    #menu-item-279 .sub-menu{
        height: 190px;
    }
    #menu-item-280 .sub-menu{
        height: 300px;
    }
    #menu-item-281 .sub-menu{
        height: 360px;
    }
    #menu-item-231 .sub-menu{
        height: 80px;
    }
}