.wp-block-column{
    animation: anim-entete 1s both cubic-bezier(.43, 1.06, .97, 1.1);
}

@keyframes anim-entete{
    0%{transform: translateX(500px);}
    100%{transform: translateX(0px);}
}

$columns: 5;

@for $i from 1 through $columns {
    .wp-block-column:nth-last-of-type(#{$i}){
      
        animation-delay: $i#{s};
    }
}

/* Animation des composant du scrum*/

/* Animation de la section .principal*/


.main-navigation{
    animation: anim-menu 1s both cubic-bezier(.43, 1.06, .97, 1.1);
}

@keyframes anim-menu{
    0%{
        transform: translateY(-500px);
    }
    100%{
        transform: translateY(0px);
    }
}

$columns: 5;

@for $i from 1 through $columns {
    .main-navigation:nth-last-of-type(#{$i}){
      
        animation-delay: $i#{s};
    }
}


    



