// Le carrousel de photos
.carrousel, .carrousel-2{
    display: flex;
    width: 600vw;
    height: 30vh;
    transition: transform .5s;
    flex-wrap: nowrap;
    .slide__conteneur{
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color:cadetblue;
       
        img{
            display: block;
            margin: 2%;
        }
        p{ 
            font-size: .8rem;
            color: black;
        }
        a{
            font-size: 1.5rem;
            text-decoration: none;
            color: black;
            font-weight: bold;
        }
    } 
}
