.pagination{
    width: 100vw;
    display: flex;
    justify-content: center;
    color: black;
    position: relative;
    right: -850px;
    top: 700px;
}
.site-info{
    background-color: black;
}